<div class="row">
    <div class="col-lg-12">
        <input type="button" value="Reset Balances" class="btn btn-primary float-right" ng-click="resetBalances()" />
    </div>
</div>
<div class="row">
    <div class="col-lg-3">
        <label for="search">Filter Names</label>
    </div>
    <div class="col-lg-9">
        <input type="text" id="search" ng-change="filter()" class="form-control" ng-model="model.searchText">
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <table class="table">
            <thead>
                <th ng-click="sort('Name')">Name</th>
                <th ng-click="sort('Age')">Age</th>
                <th ng-click="sort('RegisteredDate')">Registered Date</th>
                <th ng-click="sort('Email')">Email</th>
                <th ng-click="sort('Balance')">Balance</th>
            </thead>
            <tbody>
                <tr ng-repeat="x in model.records">
                    <td>{{x.Name}}</td>
                    <td>{{x.Age}}</td>
                    <td>{{x.RegisteredDate}}</td>
                    <td>{{x.Email}}</td>
                    <td>£{{x.Balance}}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>